/* =========================
   Layout
   ========================= */

/* Make the main content wider */
.wy-nav-content {
  max-width: 1400px !important;
}

/* Optional: keep if you like the look */
.wy-nav-content-wrap {
  margin-left: 0 !important;
}

/* Remove extra left padding RTD adds inside content area
   (so the needtable can start from the very left) */
.wy-nav-content .rst-content,
.wy-nav-content .rst-content .section {
  padding-left: 0 !important;
}
