/* Make the main content wider */
.wy-nav-content {
  max-width: 1400px !important;
}

/* Optional: usually you don't need this, but keep if you like the look */
.wy-nav-content-wrap {
  margin-left: 0 !important;
}

/* Make the DataTables top controls span full width and wrap nicely */
div.dataTables_wrapper .dt-top,
div.dataTables_wrapper .dataTables_length,
div.dataTables_wrapper .dataTables_filter,
div.dataTables_wrapper .dt-buttons {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
}

/* Force the actual table container to start at far left */
div.dataTables_wrapper .dataTables_scroll,
div.dataTables_wrapper table.dataTable {
  margin-left: 0 !important;
  clear: both !important;
}

/* If your theme adds padding to the wrapper, remove it */
div.dataTables_wrapper {
  padding-left: 0 !important;
}

