div.dataTables_wrapper::after {
  content: "";
  display: block;
  clear: both;
}

div.dataTables_wrapper table.dataTable {
  clear: both !important;
}

/* RTD wrapper can clip/shift DataTables; let it behave normally */
.wy-table-responsive {
  overflow: visible !important;
}


