/* Make the main content wider */
.wy-nav-content {
  max-width: 1400px !important;
}

.wy-nav-content-wrap {
  margin-left: 0 !important;
}

.tab-card {
  display: flex;
  align-items: center;
  width: 100%;
}

